:host{
    display: flex ; 
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width:15%;
    padding: 10px;
}
mat-drawer-container{
    height: 100%;
}
.sidebar{
    background-color: #EDF5E1;
  
}
