.mat-table{
    width: 100%;
}

.tableHeader{
    padding-bottom: 5px;
    color: #05386B;
    }
    .header{
      padding-bottom: 10px ;
      border-bottom: 1px solid black ;
      font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }
    button{
      outline: none;
    }

.icon{
  color: red;
}
.iconclear{
  color: #05386B;
}
.blockReq{
  background-color: #5CDB95;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom :0;
  right:0;
  margin: 20px;
  border-radius:10px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.BtnGroup{
  padding: 10px;
}
.btn {
  border-radius: 10px;
}