<div class="container-fluid">
    <div class="row" style="background-image:url('../../assets/addUser.svg') ; background-repeat:no-repeat;background-position:right bottom; background-size: 50%;">
        <div class="col-md-4">
            <label for="fullName">Full name</label>
            <input type="text" class="form-control" id="fullName" placeholder = 'full Name' required>
        </div>
        <div class="col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder = 'john.cena@gmail.com' required>
        </div>
    </div>
</div>
