table {
    width: 100%;
  }

  button{
    outline: none;
  }
  .tableHeader{
  padding-bottom: 5px;
  color: #05386B;
  }
  .header{
    padding-bottom: 10px ;
    border-bottom: 1px solid black ;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }